
<h4><%= @movie_rating.user.name %> rated <%= @movie_rating.movie.title %> a <%= @movie_rating.rating %>.</h4>
<%= link_to 'Edit', edit_movie_rating_path(@movie_rating) %> |
<%= link_to 'Back', movie_ratings_path %>
