<%= form_for(@movie, :html => {:multipart => true}) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= image_tag(@movie.movie_poster.thumb.url) if @movie.movie_poster? %>
  <div class="field">
    <%= f.label :movie_poster %>
    <%= f.file_field :movie_poster %>
    <p>or, enter a url...</p>
    <%= f.text_field :remote_movie_poster_url %>
    <%= f.hidden_field :movie_poster_cache %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :person %><br>
    <%= f.select :person_id, @people_to_select, {include_blank: 'n/a'} %>
  </div>
  <div class="field">
    <%= f.label :plot %><br>
    <%= f.text_area :plot %>
  </div>
  <div class="field">
    <%= f.label :release_year %><br>
    <%= f.text_field :release_year %>
  </div>
  <div class="field">
    <%= f.label :poster_image %><br>
    <%= f.text_field :poster_image %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :rotten_tomato_link %><br>
    <%= f.text_field :rotten_tomato_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
