<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Avg User Rating</th>
      <th>Plot</th>
      <th>Release year</th>
      <th>Rating</th>
      <th>Genres</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= image_tag movie.movie_poster.thumb.url %></td>
        <td><%= movie.title %></td>
        <td><%= movie.avg_rating %></td>
        <td><%= movie.plot %></td>
        <td><%= movie.release_year %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.genres.collect{|g| g.name}.join ", " %></td>
        <td><%= link_to "Rate This Movie", new_movie_rating_path(movie_id: movie.id) %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @movies %>

<br>

<%= link_to 'New Movie', new_movie_path, class: "btn btn-info" %>
