<h1 class="text-uppercase"><%= @movie[0] %> <span><%= @date.strftime("%b %d, %Y") %></span></h1>

<div class="row">
  <div class="col-md-4"><%= image_tag @movie[2], class: "img-thumbnail" %></div>
  <div class="col-md-8">
    <p class="lead"><%= @movie[3] %></p>
    <p><%= @movie[3] %></p>
  </div>
</div>


<h2>Other suggested movies</h2>

<table class="table">
    <tbody>
      <% @movies.each do |m| %>
        <tr>
          <td><span class="glyphicon glyphicon-film"><%= link_to m[0], m[1] %></span></td>
          <td><%= link_to "Poster", m[2] %></td>
          <td class="success"><%= m[3] %></td>
        </tr>
      <% end %>
    </tbody>
</table>
