<!DOCTYPE html>
<html>
<head>
  <title>Movie App</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if flash[:warning] %>
      <div class="alert alert-warning"><%= flash[:warning] %></div>
    <% end %>


    <h3>Welcome <% if signed_in? %><%= link_to @current_user.name, account_edit_path %>!<% end %></h3>
    <ul class="nav nav-pills">
      <li role="presentation"><%= link_to "Movie Database", movies_path %></li>
      <li role="presentation"><%= link_to "My Ratings", movie_ratings_path %></li>
    </ul>

    <%= yield %>
  </div>
</body>
</html>
