<!DOCTYPE html>
<html>
<head>
  <title>Movie App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="http://bootswatch.com/cerulean/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h3>Welcome <% if signed_in? %><%= @current_user.name %>!<% end %></h3>
    <ul class="nav nav-pills">
      <li role="presentation"><%= link_to "Movie Database", movies_path %></li>
      <li role="presentation"><%= link_to "My Ratings", movie_ratings_path %></li>
    </ul>

    <%= yield %>
  </div>
</body>
</html>
